In [76]:
import yfinance as yf
import pandas as pd
import yfinance as HistoricalPrices
import hvplot.pandas
from pathlib import Path

In [77]:
# Whats your ticker ?
ticker = 'ARKK'
# ticker = int(ticker)
# Where data starts and ends ?
start = '2020-03-01'
end = '2022-03-31'
arkk_etf = yf.download(ticker, start, end)

[*********************100%***********************]  1 of 1 completed

In [78]:
# Whats your ticker ?
ticker = 'SPY'
# ticker = int(ticker)
# Where data starts and ends ?
start = '2020-03-01'
end = '2022-03-31'
spy_etf = yf.download(ticker, start, end)

[*********************100%***********************]  1 of 1 completed

In [79]:
# Whats your ticker ?
ticker = 'FNGU'
# ticker = int(ticker)
# Where data starts and ends ?
start = '2020-03-01'
end = '2022-03-31'
fngu_etf = yf.download(ticker, start, end)

[*********************100%***********************]  1 of 1 completed

In [80]:
arkk_etf = arkk_etf["Adj Close"].apply(lambda x: round(x,2)).rename("ARKK")
spy_etf = spy_etf["Adj Close"].apply(lambda x: round(x,2)).rename("SPY")
fngu_etf = fngu_etf["Adj Close"].apply(lambda x: round(x,2)).rename("FNGU")

In [81]:
etf_data = pd.concat([arkk_etf, spy_etf, fngu_etf], join="inner", axis = 1)

In [82]:
etf_data

             ARKK     SPY    FNGU
Date
2020-03-02  52.79  294.65   80.15
2020-03-03  51.73  286.22   73.85
2020-03-04  53.49  298.25   80.57
2020-03-05  52.24  288.33   73.80
2020-03-06  50.87  283.57   68.17
...           ...     ...     ...
2022-03-24  66.40  444.68  236.00
2022-03-25  64.51  446.85  233.40
2022-03-28  67.06  450.03  247.00
2022-03-29  71.39  455.59  257.70
2022-03-30  68.68  452.78  247.50

[526 rows x 3 columns]

In [83]:
etf_data.to_csv(Path("./Resources/Data/etf_data.csv"))

In [84]:
etf_data.tail(60)

             ARKK     SPY   FNGU
Date
2022-01-04  92.69  469.93  380.4
2022-01-05  86.12  460.90  342.9
2022-01-06  85.58  460.47  349.1
2022-01-07  84.42  458.65  342.4
2022-01-10  84.64  458.08  344.2
2022-01-11  86.98  462.25  359.6
2022-01-12  84.56  463.50  372.7
2022-01-13  79.98  457.11  333.2
2022-01-14  80.24  457.30  342.5
2022-01-18  76.91  449.20  317.2
2022-01-19  75.75  444.54  308.3
2022-01-20  75.87  439.62  306.5
2022-01-21  71.52  430.99  257.4
2022-01-24  73.54  432.82  249.6
2022-01-25  70.80  427.53  233.7
2022-01-26  69.03  426.46  231.5
2022-01-27  66.33  424.36  220.4
2022-01-28  68.91  434.89  240.3
2022-01-31  75.43  442.73  282.1
2022-02-01  77.08  445.72  291.6
2022-02-02  73.14  450.05  290.7
2022-02-03  69.04  439.47  244.5
2022-02-04  72.75  441.54  258.5
2022-02-07  72.48  440.12  243.3
2022-02-08  72.39  443.74  257.1
2022-02-09  76.11  450.24  276.0
2022-02-10  73.76  442.15  259.0
2022-02-11  71.90  433.43  234.0
2022-02-14  71.39  432.01  237.7
2022-02-15  75.28  438.98  259.0
2022-02-16  72.87  439.47  259.9
2022-02-17  68.18  430.08  234.5
2022-02-18  64.80  427.30  220.3
2022-02-22  63.39  422.71  204.2
2022-02-23  60.88  415.21  184.9
2022-02-24  65.62  421.46  202.8
2022-02-25  67.82  430.76  209.9
2022-02-28  70.47  429.66  214.1
2022-03-01  68.31  423.12  211.6
2022-03-02  67.56  430.90  216.0
2022-03-03  63.26  428.75  200.4
2022-03-04  60.23  425.27  188.2
2022-03-07  58.05  412.73  165.1
2022-03-08  58.62  409.60  161.5
2022-03-09  61.71  420.59  183.1
2022-03-10  59.54  418.69  172.2
2022-03-11  55.58  413.36  150.6
2022-03-14  52.29  410.34  133.3
2022-03-15  54.39  419.37  144.3
2022-03-16  60.04  428.67  189.2
2022-03-17  62.93  434.03  192.5
2022-03-18  65.77  438.78  212.8
2022-03-21  63.98  438.65  208.0
2022-03-22  66.97  443.79  230.8
2022-03-23  65.67  438.07  226.4
2022-03-24  66.40  444.68  236.0
2022-03-25  64.51  446.85  233.4
2022-03-28  67.06  450.03  247.0
2022-03-29  71.39  455.59  257.7
2022-03-30  68.68  452.78  247.5